#container{
    display: flex;
    /* flex-direction: row-reverse; */
    flex-wrap: wrap;
    border: 1px solid green;
    /* justify-content: space-between; */
    height: 50vh;
    align-items: stretch;
}

/* .div1{
    flex-grow: 1;
} */

/* 
.div2{
    order: 2;
} */




/* Crie uma classe para todos os itens e chame no CSS, coloque uma borda, cor de fundo e largura de 60px altura de 50px para todos os itens */
.item{
    border: 1px solid black;
    background-color: rgb(171, 255, 156);
    width: 60px;
    flex-grow: 1;
}

/* .item:hover{
    transform: scale(1.09);
} */


/* height: 50px; */
    /* transition: all 0.8s; */