/* #container{
    display: grid;
    /* grid-template-columns: 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px;
    grid-template-columns: repeat(9, 1fr);
} */

/*  */

#container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: "header header header header" "main main . sidebar" "footer footer footer footer";
    column-gap: 10px;
    row-gap: 15px;
}

#item-1{
    grid-area: header;
}

#item-2{
    grid-area: main;
}

#item-3{
    grid-area: sidebar;
}

#item-4{
    grid-area: footer;
}



.itens{
    border: solid 1px black;
    /* width: 50%;
    height: 50%; */
}