/* Aqui tem um comentário (comentario em mais de uma linha */

body{
                        /* red,green, blue*/
    /* background-color: rgb(255, 255, 255); */
    background-color: #4ee6d6;
}

h1{
    font-family: "Teko", Arial;
    /* font-size: 100px"; */
    text-shadow:  10px 10px 20px blue;
         /* horizontal vertical raio cor */
}

p{
    font-family: "Josefin Sans", sans-serif;
    /* font-style: initial; */
}







img{
    height: 500px;  /* Altura */
    width: 50%;   /* Largura */
}